__pycache__
api_credentials.py
authenticate.py
mapbox_token.py
people/*/config.py
people/*/generate-map-data.py
people/*/update-countries-map-data.py
people/*/countries_info.py
people/*/countries_members.py
people/*/not_found_places.py
people/members_list
last_total.py
update-initial-code.sh
update-repos.sh
update-maps.sh
run-update-maps.sh
backup-data.sh
clear-log.sh
maps.log
mapbox_calls.log

