__pycache__
api_credentials.py
authenticate.py
mapbox_token.py
countries_config.py
people/*/log
people/*/config.py
people/*/generate-map-data.py
people/*/update-countries-map-data.py
people/*/countries_info.py
people/*/countries_members.py
people/*/matrix.py
people/*/not_found.py
people/members_list
generate-reset-list.py
last_total.py
update-initial-code.sh
update-repo.sh
update-maps.sh
run-update-maps.sh
backup-repo.sh
backup.log
show-repo-size.sh
clear-log.sh
clear-members.sh
success

